/* inicio de header */
.header {
    background-color:whitesmoke;
    color: coral;
    padding:0rem 0;
    position: relative;
    left:0;
    top:0;
    right:0;
    height:210px;
}
    .header a {
        color:burlywood;
        text-decoration: none;
    }

.logo-nav-container {
        display: flex;
        justify-content: space-between;
    }

.opc-reg {
    padding-top: 60px;
}
    .opc-reg a {
        border:none;
        border-radius: 10%;
        color:coral;
        opacity: 60%;
        background-color: whitesmoke;
        padding:14px 28px;
        font-size: 20px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    }
        .opc-reg a:hover {
            background: black;
            opacity: 50%;
        }

.logo-alto {
    width: 150px;
    height:150px;
    align-items: left;
    border-radius: 20%;
}
    
.top-image {
    width: 100%;
}

img {
    width: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nave {
    margin-left: 500px;
}

.par-nos {
    margin-left: 200px;
    margin-right: 200px;
}



.cajas {
    display: flex;
    flex-direction: row;
    padding: 60px;
    margin-left: 30px;
    justify-content: space-around;
}

#disney {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #fff;
    background-image: url("disney-land-10.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
}

#brasil {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #fff;
    background-image: url("burano.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
}

#paris {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #fff;
    background-image: url("calle.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
}

#oriente {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: #fff;
    background-image: url("lugar-turistico.jpg");
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-right: 30px;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.viajes {
    margin-left: 70px;
    margin-top: 80px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: transparent;
}

h6 {
    color: #fff;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333
    }

.par-nos {
    color:#bd081c;
    font-size: 150%;
}

.navbar {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
}


.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .menu ul li {
        display: inline-block;
}
        .menu ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
            .menu ul li a:hover {
                background: black;
            }

/*.img-font {
    background-image: url("/imgbody.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}*/

.form-login {
    width: 600px;
    height: 360px;
    background: #bd081c;
    margin:auto;
    margin-top: 50px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top:4px solid;
    color:white;
}
    .form-login p {
        height: 40px;
        text-align: center;
        border-bottom: 1px solid;
        font-size: 14px;
        text-decoration: none;
    }
    .form-login a {
        color:coral;
        text-decoration: none;
        font-size: 14px;
    }
        .form-login a:hover {
            text-decoration: underline;
        }

h3 {
    margin:0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.usu-con {
    width: 100%;
    border: 1px solid #bd081c;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: whitesmoke;
    font-size: 14px;
    font-weight: bold;
}

.btn {
    width: 100%;
    height: 40px;
    background:#bd081c;
    border: none;
    color: white;
    margin-bottom: 16px;
}



.main {
    padding-top: 5rem;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    color:#0077B5
}

/*inicio formulario de contacto*/

 .formap {
    display:flex;
    justify-content: space-around;
 }

.formulario {
    background-color: #fff;
    width: 600px;
    position:initial;
    top: 25%;
    left: 25%;
    align-content: center;
    box-shadow: 7px 13px 37 rgba(0, 0, 0, .8);
}

.form-header {
    width: 100%;
    background-color: #bd081c;
    overflow: hidden;
    color: white;
}
span {
    font-size: 70px;
    display:block;
    text-align: center;
    padding:2.5rem;
 }

 .form-cont {
    padding:.8rem;
    overflow: hidden;
    color: grey;
 }

.form-cont label, .form-cont input, .form-cont textarea {
    display:block;
    width:100%;
    margin-bottom: 8px;
}

.form-cont label {
    font-weight: 700;
}

.form-cont input:not([type="submit"]), .form-cont textarea{
    border:none;
    border-bottom:2px solid #bd081c;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: black;
}

.form-cont textarea {
    min-height: 100px;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    background-color:#bd081c;
    color:whitesmoke;
    font-size: 20px;
    cursor:pointer;
}

 .par-map {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: white;
 }


/*inicio el footer*/

/*.pie {
    height:min-content;
}
*/
.logo-bajo {
    width: 150px;
    height:150px;
    border-radius: 20%;
}

.btm-img {
    align-content: left;
}

.redes-container {
    display:flex;
    height:5vh;
    align-items: center;
    justify-content: center;
}
    .redes-container ul li {
        display: inline-block;
        margin: 0 5px;
        width:50px;
        height: 50px;
        text-align: center;
    }
        .redes-container ul li a {
            display:block;
            padding: 0 10px;
            background: #333;
            color: #fff;
            line-height: 50px;
            font-size: 18px;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0 .2);
            transition: .2s;
            border-radius: 15%;
        }

.redes-container ul:hover a {
    filter:blur(2px);
}
    .redes-container ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0 .4);
        filter: none;
    }

.redes-container ul li .facebook:hover {
    background: #0077B5;
}
.redes-container ul li .twitter:hover {
    background: #55acee;
}
.redes-container ul li .instagram:hover {
    background: #bd081c;
}

.copyright {
    padding:0;
    text-align: center ;
    margin-top: 1rem;
}

.contenedor-final {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding:0;
    margin:0;
    list-style-type: none;
}
 a {
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
 }

 .titu-nos {
    display: flex;
    justify-content: center;
 }

 .titu-ente {
    display: flex;
    justify-content: center;
 }

 .opciones {
    display:inline-block;
    color: coral;
    padding:10px 30px;
    font-size: larger;
    text-decoration: none;
 }
    .opciones:hover {
        background: grey;
    }